@font-face{
	src: url('../fonts/HelveticaNeue.ttf');
	font-family: 'halvetica';
}
@font-face {
    font-family: 'helveticaneue';
    src: url('../fonts/helveticaneuethin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuethin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuethin-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuethin-webfont.svg#helveticaneuethin') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	color : #333;
}
ul,h1,h2,h3,p,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
body{
	border-top: 5px solid #000;
	line-height: 25px;
	font-family: 'halvetica','helveticaneue',Arial,Geneva,sans-serif ;
}
img{
	max-width: 100%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #E8E8E8;
    margin: 1px 0;
    padding: 0; 
}
.wrapper{
	margin: 0 47px;
}
.clearfix:before,
.clearfix:after{
	content: '';
    display: block;
    clear: both;
}
.clearfix{
	clear: both;
}
a{
	color: #353535;
	text-decoration: none;
}
.mid-col{
	width: 100%;
	padding: 5px 0px;
}
.half-col{
	float: left;
	width: 100%;
	padding: 30px 0px;
}
.pull-right{
	float: right;
}
.input-box{
	display: block;
	border: 0;
	background-color: #f4f4f4;
	padding: 15px 10px;
}
.submit-btn{
	display: block;
}
.input-grp{
	width: 100%;
	display: table;
	position: relative;
	border-collapse: separate;
}
.input-grp-addon{
	height : 47px;
	width: 25%;
	color:white;
	background-color: #333;
	overflow: hidden;
	cursor: pointer;
	display: table-cell;
	float: left;
	padding: 6px 12px;
}
.input-grp-elt{
	height : 47px;
	width: 75%;
	display: table-cell;
	float: left;
	border: 0;
	background-color: #f4f4f4;
	padding: 15px 10px;
}
.btn{
	color: #fff;
	border: none;
	background-color: #333;
	padding: 8px 0px;
	font-size: 12px;
}
.add-to-cart-btn{
    padding: 7px 15px;
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
}
.cart-btn{
	font-size: 13px;
}
.table-dis{
	display: table;
	width: 100%;
}
.table-cell{
	text-align: center;
	display: table-cell;
}
.prod-listing{
	display: table;
	width: 100%;
	padding: 30px 0px;
}
.product-title,
.product-price{
	font-size: 15px;
	text-align: center;
}
.text-align-center{
	text-align: center !important;
}
.prod-article{
	margin: 30px 0px;
}

/*topnav*/
.topnav{
	padding: 5px 0px;
}
.topnav a{
	padding: 10px;
}
.topnav > .mid-col {
	display: none;
}
ul.account-activities>li>a{
	display: none;
}
ul.user-activities>li>a{
	display: none;
}
.user-activities .cart-ico{
	padding-right: 10px;
}
/*topnav*/

/*search box*/
.search > .search-grp-addon{
	color:white;
	cursor: pointer;
}
.search-box{
	color: #333;
	background-color: inherit;
}
.search-box:active,
.search-box:focus{
	outline: 0px;
}
.top-search-bar input{
	display: none;
}
input.search-box{
	padding: 0px;
}
/*search box*/

/*title*/
.title{
	padding: 5px 0px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.title h1 {
	font-size: 45px;
	margin: 0px 0px 30px 0px;
}
/*title*/

/*main-container*/
.main-container{
	width: 100%;
}
.accordian-toggler{
	margin-top: 10px;
	text-align: center;
}
/*main-container*/

/*sidenav*/
.sidenav{
	width: 100%;
	max-height: 0px;
	text-align: center;
	overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
}
.fa-ico:before{
	content: "	\f0c9";
}
.fa-ico.open:before{
	content: "\f00d";
}
span.accordian-list-item{
	display: block;
	padding: 12px 0px;
}
.nav-list{
	padding: 0px;
}
.nav-list>li{
	border: 0;
}
.nav-list li a{
	display: block;
}
.nav-list li{
	background-color: inherit;
	cursor: pointer;
	display: block;
	padding: 0px 0px;
	width: 100%;
}
.nav-list li.category.active,
.nav-list li:hover{
	background-color: #f4f4f4;
}
.nav-list li.category:before {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin: 10px 10px 0px 0px;
}
.nav-list li.category.active:before {
    content: "\2212";
}
ul.cat-list {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.4s ease-out;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out;
}
ul.cat-list li:not(:first-child){
	width: 100%;
}


/*sociallink sprite*/
ul.sociallinksprite{
	margin : 0;
	display: inline-block;
	padding: 0;	
}
ul.sociallinksprite li {
	background: url('../images/sociallinksprite.png') no-repeat;
	height: 20px;
	float: left;
	margin: 20px 5px;
}
ul.sociallinksprite li a{
	display: block;
	text-indent: -99999%;
}
ul.sociallinksprite li:first-child{
	margin-left: 0;
}
ul.sociallinksprite li.fb {
	width: 20px;
	background-position: 0 0;
}
ul.sociallinksprite li.twitter{
	width: 20px;
	background-position: -32px 0;
}
ul.sociallinksprite li.pintrest{
	width: 20px;
	background-position: -60px 0;
}
ul.sociallinksprite li.instagram{
	width: 20px;
	background-position: -90px 0;
}
ul.sociallinksprite li.youtube{
	width: 20px;
	background-position: -119px 0;
}
/*sociallink sprite*/
/*sidenav*/

/*main contents*/
.content{
	border-top: 1px solid #ccc;
}

/*content*/
.breadcrumb{
	padding: 15px 0px;
	text-align: center;
}
.breadcrumb span{
	padding: 0px 10px;
}
.display-content h2{
	margin: 10px 0px;
}
.form{
	width: 100%;
	padding: 10px 0px;
}
.form input,
.form .btn{
	width: 100%;
	margin-bottom: 10px; 
}
ul.account-help{
	padding: 5px 0px;
}
ul.account-help>li{
	padding: 10px 0px;
}
.prod-snap{
	display: table-cell;
	float: left;
	width: 50%;
	padding: 0px 0px 0px 30px;
	margin: 0px 0px 25px 0px;
}
.offer-price{
	color: #C84A40;	
}
/*article*/

.article-title{
	margin: 0px 0px 25px 0px;
	font-weight: 350;
	text-align: center;
}
.article-content p{
	margin: 0px 0px 15px 0px;
}
.article-content a{
	border-bottom: 1px solid #333;
	padding: 0px 0px 3px 0px;
}

/*article*/
/*content*/
.product-detail-text .sociallinksprite li a{
	display: block;
	text-indent: 23px;
}
.product-detail-text .sociallinksprite li{
	margin: 30px 40px;
}
.display-content .btn{
	width: 100%;
}
.product-detail-text{
	text-align: center;
}
.product-detail-text>.product-price{
	margin: 15px 0px;
}
.product-thumbnail-images li{
	width: 50%;
	float: left;
	padding: 0px 0px 30px 30px;
}
/*main contents*/

/*footer*/
footer{
	display: block;
	padding: 30px 0;
}
.footer-container{
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
	width: 100%;
}
.footer-container h3{
	padding-bottom: 10px;
}
.footer-container ul,
.footer-container p{
	padding: 0;
}


/*footer strip*/
.footer-strip{
	padding: 38px 0px;
}

/*payment sprite*/
ul.paymentsprite{
	display: inline-block;l
	margin : auto;
	padding: 0;	
	zoom: 0.5;
	-ms-zoom: 0.5;
	-webkit-zoom: 0.5;
	-moz-transform:  scale(0.5,0.5);
	-moz-transform-origin: right center;
}
ul.paymentsprite li {
	background: url('../images/paymentsprite.png') no-repeat;
	height: 38px;
	float: left;
	margin: 0px 10px;
}
ul.paymentsprite li.visa {
	width: 53px;
	background-position: 0 0;
}
ul.paymentsprite li.master{
	width: 61px;
	background-position: -71px 0;
}
ul.paymentsprite li.americanx{
	width: 37px;
	background-position: -149px 0;
}
ul.paymentsprite li.paypal{
	width: 71px;
	background-position: -204px 0;
}
ul.paymentsprite li.ninja{
	width: 34px;
	background-position: -292px 0;
}
ul.paymentsprite li.discover{
	width: 102px;
	background-position: -344px 0;
}
/*payment sprite*/
/*footer*/

@media only screen and (min-width: 768px) {

.left-col{
	float: left;
	width: 25%;
	padding: 5px 15px 5px 0px;
}
.mid-col{
	float: left;
	width: 75%;
	padding: 5px 0px 5px 15px;
}
.half-col{
	float: left;
	width: 50%;
	padding: 30px 0px;
}
.cart-btn{
	font-size: 14px;
}
.btn{
	font-size: 14px;
}
/*top nav*/

span.cart-ico{
	display: none;
}
.topnav{
	border-bottom: 1px solid #ccc;
}
.topnav > .mid-col{
	display: block;
}
/*top search bar*/
search-box{
	width: 10px;
	height: 10px;
}
.search{
	width: auto;
	display: table;
	position: relative;
	border-collapse: separate;
}
.search > .search-grp-addon{
	color:white;
	cursor: pointer;
	display: table-cell;
	float: left;
}
.search > .search-grp-elt{
	width: 75%;
	display: table-cell;
	float: left;
	border: 0;
	padding: 13px 0px;
}
.top-search-bar input{
	display: table-cell;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}
/*top search bar*/

/*account activities*/
ul.account-activities>li>a{
	display: block;
}
ul.account-activities{
	float: left;
}
ul.account-activities>li{
	float: left;
}
ul.user-activities>li>a{
	display: block;
}
ul.user-activities{
	float: right;
}
ul.user-activities>li{
	float: left;
}
/*account activities*/


/*top nav*/

/*title*/
.title{
	padding: 20px 0px;
	text-align: left;
	border : 0;
}
.title h1 {
	display: inline-block;
	margin: 30px 0px 36px 0px;
}
/*title*/

/*sidenav*/
.accordian-toggler{
	display: none;
}
.sidenav{
	float: left;
	padding: 5px 15px 0px 0px;
	width: 25%;
	max-height: 100%;
}
li.mob-nav{
	display: none;
}

/*navlist*/
.nav-list>li{
	border-top: 1px solid #ccc;
}
.nav-list>li:last-child {
	border-bottom: 1px solid #ccc;
}
ul.cat-list li:not(:first-child){
	width: 100%;
	border-top: 1px solid #ccc;
}
/*navlist*/

/*sidenav*/

.sidenav{
	text-align: left;
}
/*main-container*/
.form{
	width: 31.12%;
}
/*main content*/
.breadcrumb{
	text-align: inherit;
}
.prod-snap{
	width: 33.33333%;
}
/*article*/

.article-title{
	text-align: inherit;
}

/*article*/
.product-detail-text{
	text-align: inherit;
	padding-top: 15px;
}
.product-detail-text .product-price{
	text-align: inherit;
}
/*main content*/

/*main-container*/

/*footer*/
.input-grp{
	width: 100%;
}
ul.paymentsprite{
	float: right;
}
.table-cell{
	text-align: inherit;
}
/*footer*/
}